.container {
    cursor:pointer;
}
.container {
    display: grid;
    min-height: calc(100vh - 3rem);
    place-items: center;
    user-select: none;
    text-align: center;
    text-shadow: 2px 2px brown;
    font-size: 10px;
    color: yellow;
    font-weight: bold;
    font-family: monospace;
}